body {
  padding-top: 56px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
  color: inherit !important;
}

.portfolio-item a{
  text-decoration: none !important;
  outline: none;
  color: inherit;
}

.portfolio-item a:hover{
  color: inherit;
}


a{
  text-decoration: none !important;
  outline: none;
}

textarea{
  resize: none !important;
}


.lead{
  word-break: break-all;
}


@media only screen and (min-width: 994px) {
.breadcrumb{
  height: 48px !important;
  position: relative;
}

  .breadcrumb form{
    right: 17px;
    position: absolute;
    top: 7.5px;
  }
}